goldfish/clickup-dashboard-stats.json
{
  "active": false,
  "connections": {
    "Initial Page load": {
      "main": [
        [
          {
            "node": "Switch task list space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch task list space": {
      "main": [
        [
          {
            "node": "Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task": {
      "main": [
        [
          {
            "node": "Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-13T12:18:21.302Z",
  "hash": "ed98555b80ed90a6e2482738e7e9be40",
  "id": 3,
  "name": "clickup-dashboard-stats",
  "nodes": [
    {
      "parameters": {
        "path": "clickup-header-stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "67beba58-1304-40bd-b6b0-793d34c7d568",
      "name": "Initial Page load",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        260
      ],
      "webhookId": "edc02627-a4f9-4069-b876-f9804b95b70e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"headers\"][\"referer\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "/t/"
            },
            {
              "operation": "contains",
              "value2": "/li",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "479f69c4-8d5a-49b0-9f9d-0ca0af009a35",
      "name": "Switch task list space",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        260
      ]
    },
    {
      "parameters": {},
      "id": "791dc0cc-b507-4067-835d-00c623365fb2",
      "name": "Task",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        140
      ]
    },
    {
      "parameters": {},
      "id": "23e074d6-9ce5-424e-a90f-2e00e760af34",
      "name": "List",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json[\"headers\"][\"referer\"].split('/').slice(-1)[0] }}"
      },
      "id": "5a163753-c690-4d2d-8d80-e306e729be7a",
      "name": "Get Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1140,
        140
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-11-13T12:04:27.915Z",
      "updatedAt": "2022-11-13T12:04:27.915Z",
      "id": "1",
      "name": "endpoint"
    }
  ],
  "updatedAt": "2022-11-13T12:34:11.824Z"
}