goldfish/Scratch.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Magento 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Magento 2": {
      "main": [
        [
          {
            "node": "Load Products Into MeiliSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-24T15:48:47.281Z",
  "hash": "72e8b7516a5b0722168ea5b9332397c9",
  "id": 9,
  "name": "Scratch",
  "nodes": [
    {
      "parameters": {},
      "id": "1bf6182e-0bfc-4e62-bcc7-6163adda8cd2",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        580,
        360
      ]
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "getAll",
        "limit": 2,
        "options": {}
      },
      "id": "2c9959ca-1100-42dc-a453-16d464f3491c",
      "name": "Magento 2",
      "type": "n8n-nodes-base.magento2",
      "typeVersion": 1,
      "position": [
        800,
        360
      ],
      "credentials": {
        "magento2Api": {
          "id": "5",
          "name": "Magento 2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://index.weeumson.com/indexes/products-test/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "92a56597-3c51-4cc3-b5c4-0cb99a00035f",
      "name": "Load Products Into MeiliSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1020,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6",
          "name": "Index.weeumson.com api key"
        }
      }
    },
    {
      "parameters": {
        "url": "http://index.weeumson.com/indexes/products-test/documents/1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "*"
            }
          ]
        },
        "options": {}
      },
      "id": "e5b68bd9-501e-4a4a-b56a-6e94f5895441",
      "name": "Get one doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        580,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6",
          "name": "Index.weeumson.com api key"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "Magento 2": [
      {
        "json": {
          "id": 1,
          "sku": "24-MB01",
          "name": "Joust Duffle Bag",
          "attribute_set_id": 15,
          "price": 34,
          "status": 1,
          "visibility": 4,
          "type_id": "simple",
          "created_at": "2022-11-23 23:40:44",
          "updated_at": "2022-11-23 23:40:44",
          "extension_attributes": {
            "website_ids": [
              1
            ],
            "category_links": [
              {
                "position": 0,
                "category_id": "3"
              },
              {
                "position": 0,
                "category_id": "4"
              }
            ]
          },
          "product_links": [
            {
              "sku": "24-MB01",
              "link_type": "crosssell",
              "linked_product_sku": "24-UG01",
              "linked_product_type": "simple",
              "position": 3
            },
            {
              "sku": "24-MB01",
              "link_type": "crosssell",
              "linked_product_sku": "24-WG083-blue",
              "linked_product_type": "simple",
              "position": 2
            },
            {
              "sku": "24-MB01",
              "link_type": "crosssell",
              "linked_product_sku": "24-WG086",
              "linked_product_type": "simple",
              "position": 1
            },
            {
              "sku": "24-MB01",
              "link_type": "crosssell",
              "linked_product_sku": "24-WG085_Group",
              "linked_product_type": "grouped",
              "position": 4
            },
            {
              "sku": "24-MB01",
              "link_type": "upsell",
              "linked_product_sku": "24-MB03",
              "linked_product_type": "simple",
              "position": 2
            },
            {
              "sku": "24-MB01",
              "link_type": "upsell",
              "linked_product_sku": "24-MB05",
              "linked_product_type": "simple",
              "position": 3
            },
            {
              "sku": "24-MB01",
              "link_type": "upsell",
              "linked_product_sku": "24-MB06",
              "linked_product_type": "simple",
              "position": 4
            },
            {
              "sku": "24-MB01",
              "link_type": "upsell",
              "linked_product_sku": "24-MB02",
              "linked_product_type": "simple",
              "position": 1
            },
            {
              "sku": "24-MB01",
              "link_type": "upsell",
              "linked_product_sku": "24-UB02",
              "linked_product_type": "simple",
              "position": 5
            },
            {
              "sku": "24-MB01",
              "link_type": "upsell",
              "linked_product_sku": "24-WB03",
              "linked_product_type": "simple",
              "position": 6
            },
            {
              "sku": "24-MB01",
              "link_type": "upsell",
              "linked_product_sku": "24-WB07",
              "linked_product_type": "simple",
              "position": 8
            },
            {
              "sku": "24-MB01",
              "link_type": "upsell",
              "linked_product_sku": "24-WB04",
              "linked_product_type": "simple",
              "position": 7
            }
          ],
          "options": [],
          "media_gallery_entries": [
            {
              "id": 1,
              "media_type": "image",
              "label": "Image",
              "position": 1,
              "disabled": false,
              "types": [
                "image",
                "small_image",
                "thumbnail"
              ],
              "file": "/m/b/mb01-blue-0.jpg"
            }
          ],
          "tier_prices": [],
          "custom_attributes": [
            {
              "attribute_code": "image",
              "value": "/m/b/mb01-blue-0.jpg"
            },
            {
              "attribute_code": "small_image",
              "value": "/m/b/mb01-blue-0.jpg"
            },
            {
              "attribute_code": "thumbnail",
              "value": "/m/b/mb01-blue-0.jpg"
            },
            {
              "attribute_code": "url_key",
              "value": "joust-duffle-bag"
            },
            {
              "attribute_code": "required_options",
              "value": "0"
            },
            {
              "attribute_code": "has_options",
              "value": "0"
            },
            {
              "attribute_code": "category_ids",
              "value": [
                "3",
                "4"
              ]
            },
            {
              "attribute_code": "description",
              "value": "<p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare, it's ideal for athletes with places to go.<p>\n<ul>\n<li>Dual top handles.</li>\n<li>Adjustable shoulder strap.</li>\n<li>Full-length zipper.</li>\n<li>L 29\" x W 13\" x H 11\".</li>\n</ul>"
            }
          ]
        }
      },
      {
        "json": {
          "id": 2,
          "sku": "24-MB04",
          "name": "Strive Shoulder Pack",
          "attribute_set_id": 15,
          "price": 32,
          "status": 1,
          "visibility": 4,
          "type_id": "simple",
          "created_at": "2022-11-23 23:40:45",
          "updated_at": "2022-11-23 23:40:45",
          "extension_attributes": {
            "website_ids": [
              1
            ],
            "category_links": [
              {
                "position": 0,
                "category_id": "3"
              },
              {
                "position": 0,
                "category_id": "7"
              },
              {
                "position": 0,
                "category_id": "4"
              }
            ]
          },
          "product_links": [
            {
              "sku": "24-MB04",
              "link_type": "crosssell",
              "linked_product_sku": "24-UG04",
              "linked_product_type": "simple",
              "position": 4
            },
            {
              "sku": "24-MB04",
              "link_type": "crosssell",
              "linked_product_sku": "24-UG05",
              "linked_product_type": "simple",
              "position": 2
            },
            {
              "sku": "24-MB04",
              "link_type": "crosssell",
              "linked_product_sku": "24-UG03",
              "linked_product_type": "simple",
              "position": 1
            },
            {
              "sku": "24-MB04",
              "link_type": "crosssell",
              "linked_product_sku": "24-WG080",
              "linked_product_type": "bundle",
              "position": 3
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-MB01",
              "linked_product_type": "simple",
              "position": 1
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-MB03",
              "linked_product_type": "simple",
              "position": 3
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-MB05",
              "linked_product_type": "simple",
              "position": 4
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-MB06",
              "linked_product_type": "simple",
              "position": 5
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-MB02",
              "linked_product_type": "simple",
              "position": 2
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-UB02",
              "linked_product_type": "simple",
              "position": 6
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-WB06",
              "linked_product_type": "simple",
              "position": 9
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-WB03",
              "linked_product_type": "simple",
              "position": 7
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-WB07",
              "linked_product_type": "simple",
              "position": 10
            },
            {
              "sku": "24-MB04",
              "link_type": "upsell",
              "linked_product_sku": "24-WB04",
              "linked_product_type": "simple",
              "position": 8
            }
          ],
          "options": [],
          "media_gallery_entries": [
            {
              "id": 2,
              "media_type": "image",
              "label": "Image",
              "position": 1,
              "disabled": false,
              "types": [
                "image",
                "small_image",
                "thumbnail"
              ],
              "file": "/m/b/mb04-black-0.jpg"
            },
            {
              "id": 3,
              "media_type": "image",
              "label": "Image",
              "position": 2,
              "disabled": false,
              "types": [],
              "file": "/m/b/mb04-black-0_alt1.jpg"
            }
          ],
          "tier_prices": [],
          "custom_attributes": [
            {
              "attribute_code": "image",
              "value": "/m/b/mb04-black-0.jpg"
            },
            {
              "attribute_code": "small_image",
              "value": "/m/b/mb04-black-0.jpg"
            },
            {
              "attribute_code": "special_price",
              "value": "32.000000"
            },
            {
              "attribute_code": "thumbnail",
              "value": "/m/b/mb04-black-0.jpg"
            },
            {
              "attribute_code": "special_from_date",
              "value": "2022-11-23 00:00:00"
            },
            {
              "attribute_code": "options_container",
              "value": "container2"
            },
            {
              "attribute_code": "url_key",
              "value": "strive-shoulder-pack"
            },
            {
              "attribute_code": "msrp_display_actual_price_type",
              "value": "0"
            },
            {
              "attribute_code": "required_options",
              "value": "0"
            },
            {
              "attribute_code": "has_options",
              "value": "0"
            },
            {
              "attribute_code": "tax_class_id",
              "value": "2"
            },
            {
              "attribute_code": "category_ids",
              "value": [
                "3",
                "7",
                "4"
              ]
            },
            {
              "attribute_code": "description",
              "value": "<p>Convenience is next to nothing when your day is crammed with action. So whether you're heading to class, gym, or the unbeaten path, make sure you've got your Strive Shoulder Pack stuffed with all your essentials, and extras as well.</p>\n<ul>\n<li>Zippered main compartment.</li>\n<li>Front zippered pocket.</li>\n<li>Side mesh pocket.</li>\n<li>Cell phone pocket on strap.</li>\n<li>Adjustable shoulder strap and top carry handle.</li>\n</ul>"
            },
            {
              "attribute_code": "activity",
              "value": "11,21,23,18"
            },
            {
              "attribute_code": "style_bags",
              "value": "27,29,30"
            },
            {
              "attribute_code": "material",
              "value": "32,33,36,38"
            },
            {
              "attribute_code": "strap_bags",
              "value": "61,62,65,66,67"
            },
            {
              "attribute_code": "features_bags",
              "value": "72,74,75,78"
            },
            {
              "attribute_code": "erin_recommends",
              "value": "1"
            },
            {
              "attribute_code": "sale",
              "value": "1"
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-11-24T15:48:53.595Z",
      "updatedAt": "2022-11-24T15:48:53.595Z",
      "id": "6",
      "name": "test"
    }
  ],
  "updatedAt": "2022-11-24T16:23:52.128Z"
}