goldfish/Scratch.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Magento 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Magento 2": {
      "main": [
        [
          {
            "node": "Load Products Into MeiliSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-24T15:48:47.281Z",
  "hash": "3c84aedd9703ac8a8f54a79ffd9842e7",
  "id": 9,
  "name": "Scratch",
  "nodes": [
    {
      "parameters": {},
      "id": "1bf6182e-0bfc-4e62-bcc7-6163adda8cd2",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        580,
        360
      ]
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "getAll",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "field": "sku",
              "condition_type": "like",
              "value": "product_dynamic_20%"
            }
          ]
        },
        "options": {}
      },
      "id": "2c9959ca-1100-42dc-a453-16d464f3491c",
      "name": "Magento 2",
      "type": "n8n-nodes-base.magento2",
      "typeVersion": 1,
      "position": [
        800,
        360
      ],
      "credentials": {
        "magento2Api": {
          "id": "8",
          "name": "m2 weeumson"
        }
      }
    },
    {
      "parameters": {
        "url": "http://index.weeumson.com/indexes/products-test/documents/1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "*"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "id": "e5b68bd9-501e-4a4a-b56a-6e94f5895441",
      "name": "Get one doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        580,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "12",
          "name": "index.weeumson key"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://index.weeumson.com/indexes/products-test8/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($jmespath($input.all(), `@[].json.{id: id, sku: sku, name: name, attribute_set_id: attribute_set_id, price: price, status: status, visibility: visibility, type_id: type_id, created_at: created_at, updated_at: updated_at, has_options: custom_attributes[?attribute_code=='has_options'].value|[0],options:options,website_ids: extension_attributes.website_ids, product_links: product_links, options: options, media_gallery_entries: media_gallery_entries, description: custom_attributes[?attribute_code=='description'].value|[0], image: custom_attributes[?attribute_code=='image'].value|[0], small_image: custom_attributes[?attribute_code=='small_image'].value|[0], thumbnail: custom_attributes[?attribute_code=='thumbnail'].value|[0], url_key: custom_attributes[?attribute_code=='url_key'].value|[0], categories: custom_attributes[?attribute_code=='category_ids'].value|[0]}` ) )  }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "4ef7e01e-bce3-4af6-b661-1f07ab0835e1",
      "name": "Load Products Into MeiliSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1000,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "12",
          "name": "index.weeumson key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://index.weeumson.com/indexes/products-test8/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "200"
            },
            {
              "name": "fields",
              "value": "id, sku"
            }
          ]
        },
        "options": {}
      },
      "id": "04f6623d-5435-470d-a515-cae54fce0470",
      "name": "Get docs from meili",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        780,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "12",
          "name": "index.weeumson key"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "any",
    "executionTimeout": 300
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-11-24T15:48:53.595Z",
      "updatedAt": "2022-11-24T15:48:53.595Z",
      "id": "6",
      "name": "test"
    }
  ],
  "updatedAt": "2022-11-24T21:57:17.057Z"
}