goldfish/The Worst Ecomm Store.json
{
  "active": true,
  "connections": {
    "Get test data": {
      "main": [
        [
          {
            "node": "Get sample products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sample products": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-20T02:29:14.963Z",
  "hash": "e549f8f0e29df4e757b92cccd3dd2e01",
  "id": 8,
  "name": "The Worst Ecomm Store",
  "nodes": [
    {
      "parameters": {
        "path": "css.css",
        "options": {
          "rawBody": true,
          "responseData": "/* Classless.css v1.0  Table of Contents:  0. Bens Adds  1. Theme Settings  2. Reset  3. Base Style  4. Extras  (remove unwanted)  5. Classes  (remove unwanted) */  /* 0. Bens Adds ––––––––––––––––––––-–––––––––––––– */  body { grid-template-columns: 1fr minmax(20rem, 95%) 1fr; } .w80 { width: 80%; } .text-center { text-align: centered; } .mx-auto { margin-left: auto; margin-right: auto; } .card.product-card {     padding-left: 20px;     padding-right: 20px; } .product-card-detail-table { width: 100%; display: inline-table; } .product-card-detail-table td { white-space: normal; } .title { margin-top: 1rem; margin-bottom: 1rem; } .br { border-radius: 8px;   } .wrapper { width: 0px; animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940); } .animate { animation : shimmer 2s infinite linear; background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%); \tbackground-size: 1000px 100%; } @keyframes fullView { 100% { \twidth: 100%; } } @keyframes shimmer { 0% { \tbackground-position: -1000px 0; } 100% { \tbackground-position: 1000px 0; } }  /* 1. Theme Settings ––––––––––––––––––––-–––––––––––––– */   :root, html[data-theme='light'] { \t--rem: 12pt; \t--width: 50rem; \t--navpos: absolute;  /* fixed | absolute */ \t--font-p: 1em/1.7  'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif; \t--font-h: .9em/1.5 'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif; \t--font-c: .9em/1.4 'DejaVu Sans Mono', monospace; \t--border: 1px solid var(--cmed); \t--ornament: \"‹‹‹ ›››\"; \t/* foreground   | background color */ \t--cfg:   #433;    --cbg:    #fff; \t--cdark: #888;    --clight: #f5f6f7; \t--cmed:  #d1d1d1; \t--clink: #07c; \t--cemph: #088;    --cemphbg: #0881; }   /* 2. Reset –––––––––––––––––––––––––––––––––––––––––––– */  /* reset block elements  */ * { box-sizing: border-box; border-spacing: 0; margin: 0; padding: 0;} header, footer, figure, table, video, details, blockquote, ul, ol, dl, fieldset, pre, pre > code, caption { \tdisplay: block; \tmargin: 0.5rem 0rem 1rem; \twidth: 100%; \toverflow: auto hidden; \ttext-align: left; } video, summary, input, select { outline:none; }  /* reset clickable things  (FF Bug: select:hover prevents usage) */ a, button, select, summary { color: var(--clink); cursor: pointer; }   /* 3. Base Style ––––––––––––––––––––––––––––––––––––––– */ html { font-size: var(--rem); background: var(--cbg); } body { \tposition: relative; \tmargin: auto; \tmax-width: var(--width); \tfont: var(--font-p); \tcolor: var(--cfg); \tpadding: 3.0rem 0.6rem 0; \toverflow-x: hidden; } body > footer { margin: 10rem 0rem 0rem; font-size: 90%; } p { margin: .6em 0; }  /* links */ a[href]{ text-decoration: underline solid var(--cmed); text-underline-position: under; } a[href^=\"#\"] {text-decoration: none; } a:hover, button:not([disabled]):hover, summary:hover { \tfilter: brightness(92%); color: var(--cemph); border-color: var(--cemph); }  /* lists */ ul, ol, dl { margin: 1rem 0; padding: 0 0 0 2em; } li:not(:last-child), dd:not(:last-child) { margin-bottom: 0.5rem; } dt { font-weight: bold; }  /* headings */ h1, h2, h3, h4, h5 { margin: 1.5em 0 .5rem; font: var(--font-h); line-height: 1.2em; clear: both; } h1+h2, h2+h3, h3+h4, h4+h5 { margin-top: .5em; padding-top: 0; }  /* non-clashing headings */ h1 { font-size: 2.2em; font-weight: 300; } h2 { font-size: 2.0em; font-weight: 300; font-variant: small-caps; } h3 { font-size: 1.5em; font-weight: 400; } h4 { font-size: 1.1em; font-weight: 700; } h5 { font-size: 1.2em; font-weight: 400; color: var(--cfg); } h6 { font-size: 1.0em; font-weight: 700; font-style: italic; display: inline; } h6 + p { display: inline; }  /* tables */ td, th {   padding: 0.5em 0.8em;   text-align: right;   border-bottom: 0.1rem solid var(--cmed);   white-space: nowrap;   font-size: 95%; } thead th[colspan] { padding: .2em 0.8em; text-align: center; } thead tr:not(:only-child) td { padding: .2em 0.8em; } thead+tbody tr:first-child td { border-top: 0.1rem  solid var(--cdark);  } td:first-child, th:first-child { text-align: left; } tr:hover{ background-color: var(--clight); } table img { display: block; }  /* figures */ img, svg { max-width: 100%; vertical-align: text-top; object-fit: cover; } p>img:not(:only-child) { float: right; margin: 0 0 .5em .5em; } figure > img { display: inline-block; width: auto; } figure > img:only-of-type, figure > svg:only-of-type { max-width: 100%; display: block; margin: 0 auto 0.4em; } figcaption, caption { font: var(--font-h); color: var(--cdark); width: 100%; } figcaption > *:first-child, caption > *:first-child { display: inline-block; margin: 0; } figure > *:not(:last-child) { margin-bottom: 0.4rem; }  /* code */ pre > code {   margin: 0;   position: relative;   padding: 0.8em;   border-left: .4rem solid var(--cemph); } code, kbd, samp { \tpadding: 0.2em; \tfont: var(--font-c); \tbackground: var(--clight); \tborder-radius: 4px; } kbd { border: 1px solid var(--cmed); }  /* misc */ blockquote { border-left: 0.4rem solid var(--cmed); padding: 0 0 0 1rem;  } time{ color: var(--cdark); } hr { border: 0; border-top: 0.1rem solid var(--cmed); } nav { width: 100%; background-color: var(--clight); } ::selection, mark { background: var(--clink); color: var(--cbg); }   /* 4. Extra Style –––––––––––––––––––––––––––––––––––––– */  /* Auto Numbering: figure/tables/headings/cite */ article { counter-reset: h2 0 h3 0 tab 0 fig 0 lst 0 ref 0 eq 0; } article figure figcaption:before { \tcolor: var(--cemph); \tcounter-increment: fig; \tcontent: \"Figure \" counter(fig) \": \"; }  /* subfigures */ figure { counter-reset: subfig 0 } article figure figure { counter-reset: none; } article figure > figure { display: inline-grid; width: auto; } figure > figure:not(:last-of-type) { padding-right: 1rem; } article figure figure figcaption:before { \tcounter-increment: subfig 1; \tcontent: counter(subfig, lower-alpha) \": \"; }  /* listings */ article figure pre + figcaption:before { \tcounter-increment: lst 1; \tcontent: \"Listing \" counter(lst) \": \"; }  /* tables */ figure > table:only-of-type { display: table; margin: 0.5em auto !important; width: fit-content; } article figure > table caption { display: table-caption; caption-side: bottom; } article figure > table + figcaption:before, article table caption:before { \tcolor: var(--cemph); \tcounter-increment: tab 1; \tcontent: \"Table \" counter(tab) \": \"; }  /* headings */ article h2, h3 { position: relative; } article h2:before, article h3:before { \tdisplay: inline-block; \tposition: relative; \tfont-size: 0.6em; \ttext-align: right; \tvertical-align: baseline; \tleft: -1rem; \twidth: 2.5em; \tmargin-left: -2.5em; } article h1 { counter-set: h2; } article h2:before { counter-increment: h2; content: counter(h2) \". \"; counter-set: h3; } article h3:before { counter-increment: h3; content: counter(h2) \".\" counter(h3) \". \";} @media (max-width: 60rem) { h2:before, h3:before { display: none; } }  /* tooltip + citation */ article p>cite:before { \tpadding: 0 .5em 0 0; \tcounter-increment: ref; content: \" [\" counter(ref) \"] \"; \tvertical-align: super; font-size: .6em; } article p>cite > *:only-child { display: none; } article p>cite:hover > *:only-child, [data-tooltip]:hover:before { \tdisplay: inline-block; z-index: 40; \twhite-space: pre-wrap; \tposition: absolute; left: 1rem; right: 1rem; \tpadding: 1em 2em; \ttext-align: center; \ttransform:translateY( calc(-100%) ); \tcontent: attr(data-tooltip); \tcolor: var(--cbg); \tbackground-color: var(--cemph); \tbox-shadow: 0 2px 10px 0 black; } [data-tooltip], article p>cite:before {  \tcolor: var(--clink); \tborder: .8rem solid transparent; margin: -.8rem; } abbr[title], [data-tooltip] { cursor: help; }  /* navbar */ nav+* { margin-top: 3rem; } body>nav, header nav { \tposition: var(--navpos); \ttop: 0; left: 0; right: 0; \tz-index: 41; \tbox-shadow: 0vw -50vw 0 50vw var(--clight), 0 calc(-50vw + 2px) 4px 50vw var(--cdark); } nav ul { list-style-type: none; } nav ul:first-child { margin: 0; padding: 0; overflow: visible; } nav ul:first-child > li { \tdisplay: inline-block; \tmargin: 0; \tpadding: 0.8rem .6rem; } nav ul > li > ul { \tdisplay: none; \twidth: auto; \tposition: absolute; \tmargin: 0.5rem 0; \tpadding: 1rem 2rem; \tbackground-color: var(--clight); \tborder: var(--border); \tborder-radius: 4px; \tz-index: 42; } nav ul > li > ul > li { white-space: nowrap; } nav ul > li:hover > ul { display: block; } @media (max-width: 40rem) { \tnav ul:first-child > li:first-child:after { content: \" \\25BE\"; } \tnav ul:first-child > li:not(:first-child):not(.sticky) { display: none; } \tnav ul:first-child:hover > li:not(:first-child):not(.sticky) { display: block; float: none !important; } }  /* details/cards */ summary>* { display: inline; } .card, details { \tdisplay: block; \tmargin: 0.5rem 0rem 1rem; \tpadding: 0 .6rem; \tborder-radius: 4px; \toverflow: hidden; } .card, details[open] { outline: 1px solid var(--cmed); } .card>img:first-child { margin: -3px -.6rem; max-width: calc(100% + 1.2rem); } summary:hover, details[open] summary, .card>p:first-child { \tbox-shadow: inset 0 0 0 2em var(--clight), 0 -.8rem 0 .8rem var(--clight);  } .hint { --cmed: var(--cemph); --clight: var(--cemphbg); background-color: var(--clight); } .warn { --cmed: #c11; --clight: #e221; background-color: var(--clight); }  /* big first letter */ article > section:first-of-type > h2:first-of-type + p:first-letter, article > h2:first-of-type + p:first-letter, .lettrine { \tfloat: left; \tfont-size: 3.5em; \tpadding: 0.1em 0.1em 0 0; \tline-height: 0.68em; \tcolor: var(--cemph); }  /* ornaments */ section:after { \tdisplay: block; \tmargin: 1em 0; \tcolor: var(--cmed); \ttext-align: center; \tfont-size: 1.5em; \tcontent: var(--ornament); }  /* side menu (aside is not intended for use in a paragraph!) */ main aside { \tposition: absolute; \twidth: 8rem;      right: -8.6rem; \tfont-size: 0.8em; line-height: 1.4em; } @media (max-width: 70rem) { main aside { display: none; } }  /* forms and inputs  */ textarea, input:not([type=range]), button, select { \tfont: var(--font-h); \tborder-radius: 4px; \tborder: 1.5px solid var(--cmed); \tpadding: 0.4em 0.8em; } fieldset select, input:not([type=checkbox]):not([type=radio]) { \tdisplay: block; \twidth: 100%; \tmargin: 0 0 1rem; } button, select { \tfont-weight: bold; \tbackground-color: var(--clight); \tmargin: .5em; \tborder: 1.5px solid var(--clink); } button { padding: 0.4em 1em; font-size: 85%; letter-spacing: 0.1em; } button[disabled]{ color: var(--cdark); border-color: var(--cmed); } fieldset { border-radius: 4px; border: var(--border); padding: .5em 1em;} textarea:hover, input:not([type=checkbox]):not([type*='ra']):hover, select:hover{   border: 1.5px solid var(--cemph); } textarea:focus, input:not([type=checkbox]):not([type*='ra']):focus{ \tborder: 1.5px solid var(--clink); \tbox-shadow: 0 0 5px var(--clink); } p>button { padding: 0 .5em; margin: 0 .5em; } p>select { padding: 0;      margin: 0 .5em; }   /* 5. Bootstrap-compatible classes ––––––––––––––––––––– */  /* grid */ .row { display: flex; margin:  0.5rem -0.6rem; align-items: stretch; } .row [class*=\"col\"] { padding: 0  0.6rem; } .row .col   { flex: 1 1 100%; } .row .col-2 { flex: 0 0 16.66%; max-width: 16.66%;} .row .col-3 { flex: 0 0 25%; max-width: 25%;} .row .col-4 { flex: 0 0 33.33%; max-width: 33.33%; } .row .col-5 { flex: 0 0 41.66%; max-width: 41.66%; } .row .col-6 { flex: 0 0 50%; max-width: 50%; } @media (max-width: 40rem) { .row { flex-direction: column; } }  /* align */ .text-left   { text-align: left; } .text-right  { text-align: right; } .text-center { text-align: center; } .float-left  { float: left !important; } .float-right { float: right !important; } .clearfix    { clear: both; }  /* colors */ .text-black    { color: #000; } .text-white    { color: #fff; } .text-primary  { color: var(--cemph); } .text-secondary{ color: var(--cdark); } .bg-white    { background-color: #fff; } .bg-light    { background-color: var(--clight); } .bg-primary  { background-color: var(--cemph); } .bg-secondary{ background-color: var(--cmed); }  /* margins */ .mx-auto { margin-left: auto; margin-right: auto; } .m-0 { margin: 0 !important; } .m-1, .mx-1, .mr-1 { margin-right:  1.0rem !important; } .m-1, .mx-1, .ml-1 { margin-left:   1.0rem !important; } .m-1, .my-1, .mt-1 { margin-top:    1.0rem !important; } .m-1, .my-1, .mb-1 { margin-bottom: 1.0rem !important; }  /* pading */ .p-0 { padding: 0 !important; } .p-1, .px-1, .pr-1 { padding-right:  1.0rem !important; } .p-1, .px-1, .pl-1 { padding-left:   1.0rem !important; } .p-1, .py-1, .pt-1 { padding-top:    1.0rem !important; } .p-1, .py-1, .pb-1 { padding-bottom: 1.0rem !important; }  /* be print-friendly */ @media print {  \t@page { margin: 1.5cm 2cm; }  \thtml {font-size: 9pt!important; }  \tbody { max-width: 27cm; } \tp { orphans: 2; widows: 2; } \tcaption, figcaption { page-break-before: avoid; } \th2, h3, h4, h5 { page-break-after: avoid;} \t.noprint, body>nav, section:after { display: none; } \t.row { flex-direction: row; } }",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/css"
              }
            ]
          }
        }
      },
      "id": "674d101a-e9ba-4cce-a4b4-7c6537c75ea2",
      "name": "CSS endpoint",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        340
      ],
      "webhookId": "950eac0d-d2f8-46db-b0f9-9db19d4aff34"
    },
    {
      "parameters": {
        "path": "test-json",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3a21b4ec-9034-4e17-8ac5-f747e1e2823c",
      "name": "Get test data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        700
      ],
      "webhookId": "fd6b29d4-b080-40c4-99d5-ba47e2a36811"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6f523680-633d-40bf-a157-52b0d1191696",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        980,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://dummyjson.com/products",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "6d10d921-503d-441e-b9ea-491937ab0a58",
      "name": "Get sample products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        700
      ]
    },
    {
      "parameters": {
        "path": "home",
        "options": {
          "rawBody": true,
          "responseData": "<!DOCTYPE html>\n<html data-theme=\"dark\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width\">\n    <title>HTMX client templates via N8N</title>\n    <link rel=\"stylesheet\" href=\"https://goldfish-app-k52k2.ondigitalocean.app/webhook/css.css\">\n    <link rel=\"stylesheet\" href=\"https://classless.de/addons/themes.css\">\n    <script src=\"https://unpkg.com/hyperscript.org@0.9.7\"></script>\n    <script src=\"https://unpkg.com/htmx.org\"></script>\n    <script src=\"https://unpkg.com/htmx.org/dist/ext/client-side-templates.js\"></script>\n    <script src=\"https://unpkg.com/mustache@latest\"></script>\n</head>\n<body>\n    <div class=\"templates\"\n        id=\"mstemplates\"\n        hx-get=\"https://goldfish-app-k52k2.ondigitalocean.app/webhook/templates?home\"\n        hx-trigger=\"load\"\n        hx-target=\"this\">\n    </div>\n<header>\n    <nav>\n        <ul>\n        <li>Brand</li>\n        <li class=\"float-right sticky\">Sticky Right</li>\n        <li><a href=\"#\">Item </a></li>\n        <li><a href=\"#\">Menu ▾</a>\n            <ul>\n            <li><a href=\"#\">Menu 1</a></li>\n            <li><a href=\"#\">Menu 2</a></li>\n            </ul>\n        </li>\n        <li class=\"float-right\">Collapse</li>\n        </ul>\n    </nav>\n</header>\n<main>\n    <article>\n        <div id=\"main-article-template-wrapper\" hx-ext=\"client-side-templates\">\n            <header class=\"text-center\">\n                <h1>The Worst Ecommerce Store</h1>\n                <p> An experiment in minimalism on the modern web. Is this the best solution? Uh, sure. Here's what this is built with:\n                    <dl>\n                        <dt><a href=\"https://htmx.org/examples/\">HTMX</a></dt>\n                        <dt><a href=\"https://hyperscript.org/\">HyperScript</a></dt>\n                        <dt><a href=\"https://classless.de/#demo\">Classless CSS</a></dt>\n                        <dt>Mustache templates</dt>\n                        <dd>\n                        <li><a href=\"https://htmx.org/extensions/client-side-templates/\">HTMX client side templates</a></li>\n                        <li><a href=\"https://github.com/janl/mustache.js\">Mustache</a></li>\n                        </dd>\n                        <dt><a href=\"https://n8n.io/\">N8N \"backend\"</a></dt>\n                    </dl>\n                </p>\n            </header>\n        <section id=\"plp\">\n            <hr>\n            <h1 class=\"text-center title\">Products</h1>\n            <hr>\n            <div class=\"col\">\n              <label for=\"filter-products-input\">Filter Products Input</label>\n              <input id=\"filter-products-input\" type=\"text\" placeholder=\"Type Here to Filter Products\" _=\"on input\n              show <div.col/> in #home-product-grid when it's textContent.toLowerCase() contains my value.toLowerCase()\n              \"/>\n            </div>\n            <div id=\"home-product-grid\"\n              hx-get=\"https://goldfish-app-k52k2.ondigitalocean.app/webhook/test-json\"\n              hx-target=\"this\"\n              hx-trigger=\"revealed\"\n              hx-sync=\"#mstemplates:queue last\"\n              mustache-template=\"product-grid-template\"\n              ></div>\n        </section>\n    </div>\n    </article>\n</main>\n<footer>Copyright bla bla</footer>\n</body>\n</html>"
        }
      },
      "id": "dada4fe5-7175-495f-9d46-267263a6be37",
      "name": "Homepage",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        180
      ],
      "webhookId": "5011a865-792e-49bb-b929-0a0bba6ea733"
    },
    {
      "parameters": {
        "path": "templates",
        "options": {
          "responseData": "<div hx-ext=\"client-side-templates\">\n  <!-- Mustache Templates for the page -->\n  <template id=\"foo2\">\n    {{#array}}\n      <tr class=\"tr\">\n          <td>{{postId}}</td>\n          <td>{{id}}</td>\n          <td>{{name}}</td>\n          <td>{{email}}</td>\n          <td>{{body}}</td>\n      </tr>\n    {{/array}}\n  </template>\n  <template id=\"product-grid-template\">\n    {{#products}}\n    <div class=\"col\">\n      <div class=\"card product-card\">\n        <figure>\n          <img class=\"br\" src=\"{{thumbnail}}\" alt=\"{{title}} image\">\n        </figure>\n        <p>Some Text</p>\n        <details class=\"card details success\">\n          <summary>Product Details</summary>\n          <p>Is this too small?</p>\n          <table class=\"product-card-detail-table\">\n            <tbody>\n              <tr>\n                <td>id</td>\n                <td>{{id}}</td>\n              </tr>\n              <tr>\n                <td>title</td>\n                <td>{{title}}</td>\n              </tr>\n              <tr>\n                <td>description</td>\n                <td>{{description}}</td>\n              </tr>\n              <tr>\n                <td>price</td>\n                <td>{{price}}</td>\n              </tr>\n              <tr>\n                <td>discountPercentage</td>\n                <td>{{discountPercentage}}</td>\n              </tr>\n              <tr>\n                <td>rating</td>\n                <td>{{rating}}</td>\n              </tr>\n              <tr>\n                <td>stock</td>\n                <td>{{stock}}</td>\n              </tr>\n              <tr>\n                <td>brand</td>\n                <td>{{brand}}</td>\n              </tr>\n              <tr>\n                <td>category</td>\n                <td>{{category}}</td>\n              </tr>\n            </tbody>\n          </table>\n        </details>\n      </div>\n    </div>\n    {{/products}}\n  </template>\n</div>\n",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              },
              {
                "name": "HX-Trigger",
                "value": "loadedTemplates"
              }
            ]
          }
        }
      },
      "id": "fff87e3a-8b65-41b0-998b-f131abb0e949",
      "name": "Mustache Templates",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        520
      ],
      "webhookId": "ca842335-5997-454c-8b5b-aaf4b1dc2ad1"
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-20T22:50:55.199Z"
}