goldfish/The Worst Ecomm Store.json
{
  "active": true,
  "connections": {
    "Get test data": {
      "main": [
        [
          {
            "node": "Get sample products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sample products": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-20T02:29:14.963Z",
  "hash": "d077276870553541c9efa83e38133ca7",
  "id": 8,
  "name": "The Worst Ecomm Store",
  "nodes": [
    {
      "parameters": {
        "path": "css.css",
        "options": {
          "rawBody": true,
          "responseData": "/* Classless.css v1.0\n\nTable of Contents:\n 0. Bens Adds\n 1. Theme Settings\n 2. Reset\n 3. Base Style\n 4. Extras  (remove unwanted)\n 5. Classes  (remove unwanted)\n*/\n\n/* 0. Bens Adds ––––––––––––––––––––-–––––––––––––– */\n\nbody { grid-template-columns: 1fr minmax(20rem, 95%) 1fr; }\n.w80 { width: 80%; }\n.text-center { text-align: centered; }\n.mx-auto {\nmargin-left: auto;\nmargin-right: auto;\n}\n.card.product-card {\n    padding-left: 20px;\n    padding-right: 20px;\n    transition: all ease-in 1s;\n}\n.product-card-detail-table {\nwidth: 100%;\ndisplay: inline-table;\n}\n.product-card-detail-table td { white-space: normal; }\n.title {\nmargin-top: 1rem;\nmargin-bottom: 1rem;\n}\n.br { border-radius: 8px;   }\n.wrapper {\nwidth: 0px;\nanimation: fullView 0.8s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);\n}\n.wrapper>figure {\n    height: 260px;\n}\n.animate {\nanimation : shimmer 2s infinite linear;\nbackground: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);\n\tbackground-size: 1000px 100%;\n}\n.comment {\n    height: 10px;\n    background: #777;\n    margin-top: 20px;\n}\n@keyframes fullView {\n100% {\n\twidth: 100%;\n}\n}\n@keyframes shimmer {\n0% {\n\tbackground-position: -1000px 0;\n}\n100% {\n\tbackground-position: 1000px 0;\n}\n}\n\n/* 1. Theme Settings ––––––––––––––––––––-–––––––––––––– */\n\n\n:root, html[data-theme='light'] {\n\t--rem: 12pt;\n\t--width: 50rem;\n\t--navpos: absolute;  /* fixed | absolute */\n\t--font-p: 1em/1.7  'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif;\n\t--font-h: .9em/1.5 'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif;\n\t--font-c: .9em/1.4 'DejaVu Sans Mono', monospace;\n\t--border: 1px solid var(--cmed);\n\t--ornament: \"‹‹‹ ›››\";\n\t/* foreground   | background color */\n\t--cfg:   #433;    --cbg:    #fff;\n\t--cdark: #888;    --clight: #f5f6f7;\n\t--cmed:  #d1d1d1;\n\t--clink: #07c;\n\t--cemph: #088;    --cemphbg: #0881;\n}\n\n\n/* 2. Reset –––––––––––––––––––––––––––––––––––––––––––– */\n\n/* reset block elements  */\n* { box-sizing: border-box; border-spacing: 0; margin: 0; padding: 0;}\nheader, footer, figure, table, video, details, blockquote,\nul, ol, dl, fieldset, pre, pre > code, caption {\n\tdisplay: block;\n\tmargin: 0.5rem 0rem 1rem;\n\twidth: 100%;\n\toverflow: auto hidden;\n\ttext-align: left;\n}\nvideo, summary, input, select { outline:none; }\n\n/* reset clickable things  (FF Bug: select:hover prevents usage) */\na, button, select, summary { color: var(--clink); cursor: pointer; }\n\n\n/* 3. Base Style ––––––––––––––––––––––––––––––––––––––– */\nhtml { font-size: var(--rem); background: var(--cbg); }\nbody {\n\tposition: relative;\n\tmargin: auto;\n\tmax-width: var(--width);\n\tfont: var(--font-p);\n\tcolor: var(--cfg);\n\tpadding: 3.0rem 0.6rem 0;\n\toverflow-x: hidden;\n}\nbody > footer { margin: 10rem 0rem 0rem; font-size: 90%; }\np { margin: .6em 0; }\n\n/* links */\na[href]{ text-decoration: underline solid var(--cmed); text-underline-position: under; }\na[href^=\"#\"] {text-decoration: none; }\na:hover, button:not([disabled]):hover, summary:hover {\n\tfilter: brightness(92%); color: var(--cemph); border-color: var(--cemph);\n}\n\n/* lists */\nul, ol, dl { margin: 1rem 0; padding: 0 0 0 2em; }\nli:not(:last-child), dd:not(:last-child) { margin-bottom: 0.5rem; }\ndt { font-weight: bold; }\n\n/* headings */\nh1, h2, h3, h4, h5 { margin: 1.5em 0 .5rem; font: var(--font-h); line-height: 1.2em; clear: both; }\nh1+h2, h2+h3, h3+h4, h4+h5 { margin-top: .5em; padding-top: 0; }  /* non-clashing headings */\nh1 { font-size: 2.2em; font-weight: 300; }\nh2 { font-size: 2.0em; font-weight: 300; font-variant: small-caps; }\nh3 { font-size: 1.5em; font-weight: 400; }\nh4 { font-size: 1.1em; font-weight: 700; }\nh5 { font-size: 1.2em; font-weight: 400; color: var(--cfg); }\nh6 { font-size: 1.0em; font-weight: 700; font-style: italic; display: inline; }\nh6 + p { display: inline; }\n\n/* tables */\ntd, th {\n  padding: 0.5em 0.8em;\n  text-align: right;\n  border-bottom: 0.1rem solid var(--cmed);\n  white-space: nowrap;\n  font-size: 95%;\n}\nthead th[colspan] { padding: .2em 0.8em; text-align: center; }\nthead tr:not(:only-child) td { padding: .2em 0.8em; }\nthead+tbody tr:first-child td { border-top: 0.1rem  solid var(--cdark);  }\ntd:first-child, th:first-child { text-align: left; }\ntr:hover{ background-color: var(--clight); }\ntable img { display: block; }\n\n/* figures */\nimg, svg { max-width: 100%; vertical-align: text-top; object-fit: cover; }\np>img:not(:only-child) { float: right; margin: 0 0 .5em .5em; }\nfigure > img { display: inline-block; width: auto; }\nfigure > img:only-of-type, figure > svg:only-of-type { max-width: 100%; display: block; margin: 0 auto 0.4em; }\nfigcaption, caption { font: var(--font-h); color: var(--cdark); width: 100%; }\nfigcaption > *:first-child, caption > *:first-child { display: inline-block; margin: 0; }\nfigure > *:not(:last-child) { margin-bottom: 0.4rem; }\n\n/* code */\npre > code {\n  margin: 0;\n  position: relative;\n  padding: 0.8em;\n  border-left: .4rem solid var(--cemph);\n}\ncode, kbd, samp {\n\tpadding: 0.2em;\n\tfont: var(--font-c);\n\tbackground: var(--clight);\n\tborder-radius: 4px;\n}\nkbd { border: 1px solid var(--cmed); }\n\n/* misc */\nblockquote { border-left: 0.4rem solid var(--cmed); padding: 0 0 0 1rem;  }\ntime{ color: var(--cdark); }\nhr { border: 0; border-top: 0.1rem solid var(--cmed); }\nnav { width: 100%; background-color: var(--clight); }\n::selection, mark { background: var(--clink); color: var(--cbg); }\n\n\n/* 4. Extra Style –––––––––––––––––––––––––––––––––––––– */\n\n/* Auto Numbering: figure/tables/headings/cite */\narticle { counter-reset: h2 0 h3 0 tab 0 fig 0 lst 0 ref 0 eq 0; }\narticle figure figcaption:before {\n\tcolor: var(--cemph);\n\tcounter-increment: fig;\n\tcontent: \"Figure \" counter(fig) \": \";\n}\n\n/* subfigures */\nfigure { counter-reset: subfig 0 }\narticle figure figure { counter-reset: none; }\narticle figure > figure { display: inline-grid; width: auto; }\nfigure > figure:not(:last-of-type) { padding-right: 1rem; }\narticle figure figure figcaption:before {\n\tcounter-increment: subfig 1;\n\tcontent: counter(subfig, lower-alpha) \": \";\n}\n\n/* listings */\narticle figure pre + figcaption:before {\n\tcounter-increment: lst 1;\n\tcontent: \"Listing \" counter(lst) \": \";\n}\n\n/* tables */\nfigure > table:only-of-type { display: table; margin: 0.5em auto !important; width: fit-content; }\narticle figure > table caption { display: table-caption; caption-side: bottom; }\narticle figure > table + figcaption:before,\narticle table caption:before {\n\tcolor: var(--cemph);\n\tcounter-increment: tab 1;\n\tcontent: \"Table \" counter(tab) \": \";\n}\n\n/* headings */\narticle h2, h3 { position: relative; }\narticle h2:before,\narticle h3:before {\n\tdisplay: inline-block;\n\tposition: relative;\n\tfont-size: 0.6em;\n\ttext-align: right;\n\tvertical-align: baseline;\n\tleft: -1rem;\n\twidth: 2.5em;\n\tmargin-left: -2.5em;\n}\narticle h1 { counter-set: h2; }\narticle h2:before { counter-increment: h2; content: counter(h2) \". \"; counter-set: h3; }\narticle h3:before { counter-increment: h3; content: counter(h2) \".\" counter(h3) \". \";}\n@media (max-width: 60rem) { h2:before, h3:before { display: none; } }\n\n/* tooltip + citation */\narticle p>cite:before {\n\tpadding: 0 .5em 0 0;\n\tcounter-increment: ref; content: \" [\" counter(ref) \"] \";\n\tvertical-align: super; font-size: .6em;\n}\narticle p>cite > *:only-child { display: none; }\narticle p>cite:hover > *:only-child,\n[data-tooltip]:hover:before {\n\tdisplay: inline-block; z-index: 40;\n\twhite-space: pre-wrap;\n\tposition: absolute; left: 1rem; right: 1rem;\n\tpadding: 1em 2em;\n\ttext-align: center;\n\ttransform:translateY( calc(-100%) );\n\tcontent: attr(data-tooltip);\n\tcolor: var(--cbg);\n\tbackground-color: var(--cemph);\n\tbox-shadow: 0 2px 10px 0 black;\n}\n[data-tooltip], article p>cite:before { \n\tcolor: var(--clink);\n\tborder: .8rem solid transparent; margin: -.8rem;\n}\nabbr[title], [data-tooltip] { cursor: help; }\n\n/* navbar */\nnav+* { margin-top: 3rem; }\nbody>nav, header nav {\n\tposition: var(--navpos);\n\ttop: 0; left: 0; right: 0;\n\tz-index: 41;\n\tbox-shadow: 0vw -50vw 0 50vw var(--clight), 0 calc(-50vw + 2px) 4px 50vw var(--cdark);\n}\nnav ul { list-style-type: none; }\nnav ul:first-child { margin: 0; padding: 0; overflow: visible; }\nnav ul:first-child > li {\n\tdisplay: inline-block;\n\tmargin: 0;\n\tpadding: 0.8rem .6rem;\n}\nnav ul > li > ul {\n\tdisplay: none;\n\twidth: auto;\n\tposition: absolute;\n\tmargin: 0.5rem 0;\n\tpadding: 1rem 2rem;\n\tbackground-color: var(--clight);\n\tborder: var(--border);\n\tborder-radius: 4px;\n\tz-index: 42;\n}\nnav ul > li > ul > li { white-space: nowrap; }\nnav ul > li:hover > ul { display: block; }\n@media (max-width: 40rem) {\n\tnav ul:first-child > li:first-child:after { content: \" \\25BE\"; }\n\tnav ul:first-child > li:not(:first-child):not(.sticky) { display: none; }\n\tnav ul:first-child:hover > li:not(:first-child):not(.sticky) { display: block; float: none !important; }\n}\n\n/* details/cards */\nsummary>* { display: inline; }\n.card, details {\n\tdisplay: block;\n\tmargin: 0.5rem 0rem 1rem;\n\tpadding: 0 .6rem;\n\tborder-radius: 4px;\n\toverflow: hidden;\n}\n.card, details[open] { outline: 1px solid var(--cmed); }\n.card>img:first-child { margin: -3px -.6rem; max-width: calc(100% + 1.2rem); }\nsummary:hover, details[open] summary, .card>p:first-child {\n\tbox-shadow: inset 0 0 0 2em var(--clight), 0 -.8rem 0 .8rem var(--clight); \n}\n.hint { --cmed: var(--cemph); --clight: var(--cemphbg); background-color: var(--clight); }\n.warn { --cmed: #c11; --clight: #e221; background-color: var(--clight); }\n\n/* big first letter */\narticle > section:first-of-type > h2:first-of-type + p:first-letter,\narticle > h2:first-of-type + p:first-letter, .lettrine {\n\tfloat: left;\n\tfont-size: 3.5em;\n\tpadding: 0.1em 0.1em 0 0;\n\tline-height: 0.68em;\n\tcolor: var(--cemph);\n}\n\n/* ornaments */\nsection:after {\n\tdisplay: block;\n\tmargin: 1em 0;\n\tcolor: var(--cmed);\n\ttext-align: center;\n\tfont-size: 1.5em;\n\tcontent: var(--ornament);\n}\n\n/* side menu (aside is not intended for use in a paragraph!) */\nmain aside {\n\tposition: absolute;\n\twidth: 8rem;      right: -8.6rem;\n\tfont-size: 0.8em; line-height: 1.4em;\n}\n@media (max-width: 70rem) { main aside { display: none; } }\n\n/* forms and inputs  */\ntextarea, input:not([type=range]), button, select {\n\tfont: var(--font-h);\n\tborder-radius: 4px;\n\tborder: 1.5px solid var(--cmed);\n\tpadding: 0.4em 0.8em;\n}\nfieldset select, input:not([type=checkbox]):not([type=radio]) {\n\tdisplay: block;\n\twidth: 100%;\n\tmargin: 0 0 1rem;\n}\nbutton, select {\n\tfont-weight: bold;\n\tbackground-color: var(--clight);\n\tmargin: .5em;\n\tborder: 1.5px solid var(--clink);\n}\nbutton { padding: 0.4em 1em; font-size: 85%; letter-spacing: 0.1em; }\nbutton[disabled]{ color: var(--cdark); border-color: var(--cmed); }\nfieldset { border-radius: 4px; border: var(--border); padding: .5em 1em;}\ntextarea:hover, input:not([type=checkbox]):not([type*='ra']):hover, select:hover{\n  border: 1.5px solid var(--cemph);\n}\ntextarea:focus, input:not([type=checkbox]):not([type*='ra']):focus{\n\tborder: 1.5px solid var(--clink);\n\tbox-shadow: 0 0 5px var(--clink);\n}\np>button { padding: 0 .5em; margin: 0 .5em; }\np>select { padding: 0;      margin: 0 .5em; }\n\n\n/* 5. Bootstrap-compatible classes ––––––––––––––––––––– */\n\n/* grid */\n.row { display: flex; margin:  0.5rem -0.6rem; align-items: stretch; }\n.row [class*=\"col\"] { padding: 0  0.6rem; }\n.row .col   { flex: 1 1 100%; }\n.row .col-2 { flex: 0 0 16.66%; max-width: 16.66%;}\n.row .col-3 { flex: 0 0 25%; max-width: 25%;}\n.row .col-4 { flex: 0 0 33.33%; max-width: 33.33%; }\n.row .col-5 { flex: 0 0 41.66%; max-width: 41.66%; }\n.row .col-6 { flex: 0 0 50%; max-width: 50%; }\n@media (max-width: 40rem) { .row { flex-direction: column; } }\n\n/* align */\n.text-left   { text-align: left; }\n.text-right  { text-align: right; }\n.text-center { text-align: center; }\n.float-left  { float: left !important; }\n.float-right { float: right !important; }\n.clearfix    { clear: both; }\n\n/* colors */\n.text-black    { color: #000; }\n.text-white    { color: #fff; }\n.text-primary  { color: var(--cemph); }\n.text-secondary{ color: var(--cdark); }\n.bg-white    { background-color: #fff; }\n.bg-light    { background-color: var(--clight); }\n.bg-primary  { background-color: var(--cemph); }\n.bg-secondary{ background-color: var(--cmed); }\n\n/* margins */\n.mx-auto { margin-left: auto; margin-right: auto; }\n.m-0 { margin: 0 !important; }\n.m-1, .mx-1, .mr-1 { margin-right:  1.0rem !important; }\n.m-1, .mx-1, .ml-1 { margin-left:   1.0rem !important; }\n.m-1, .my-1, .mt-1 { margin-top:    1.0rem !important; }\n.m-1, .my-1, .mb-1 { margin-bottom: 1.0rem !important; }\n\n/* pading */\n.p-0 { padding: 0 !important; }\n.p-1, .px-1, .pr-1 { padding-right:  1.0rem !important; }\n.p-1, .px-1, .pl-1 { padding-left:   1.0rem !important; }\n.p-1, .py-1, .pt-1 { padding-top:    1.0rem !important; }\n.p-1, .py-1, .pb-1 { padding-bottom: 1.0rem !important; }\n\n/* be print-friendly */\n@media print { \n\t@page { margin: 1.5cm 2cm; } \n\thtml {font-size: 9pt!important; } \n\tbody { max-width: 27cm; }\n\tp { orphans: 2; widows: 2; }\n\tcaption, figcaption { page-break-before: avoid; }\n\th2, h3, h4, h5 { page-break-after: avoid;}\n\t.noprint, body>nav, section:after { display: none; }\n\t.row { flex-direction: row; }\n}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/css"
              }
            ]
          }
        }
      },
      "id": "674d101a-e9ba-4cce-a4b4-7c6537c75ea2",
      "name": "CSS endpoint",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        340
      ],
      "webhookId": "950eac0d-d2f8-46db-b0f9-9db19d4aff34"
    },
    {
      "parameters": {
        "path": "test-json",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3a21b4ec-9034-4e17-8ac5-f747e1e2823c",
      "name": "Get test data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        700
      ],
      "webhookId": "fd6b29d4-b080-40c4-99d5-ba47e2a36811"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6f523680-633d-40bf-a157-52b0d1191696",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        980,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://dummyjson.com/products",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "6d10d921-503d-441e-b9ea-491937ab0a58",
      "name": "Get sample products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        700
      ]
    },
    {
      "parameters": {
        "path": "home",
        "options": {
          "rawBody": true,
          "responseData": "<!DOCTYPE html>\n<html data-theme=\"dark\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width\">\n    <title>HTMX client templates via N8N</title>\n    <link rel=\"stylesheet\" href=\"https://goldfish-app-k52k2.ondigitalocean.app/webhook/css.css\">\n    <link rel=\"stylesheet\" href=\"https://classless.de/addons/themes.css\">\n    <script src=\"https://unpkg.com/hyperscript.org@0.9.7\"></script>\n    <script src=\"https://unpkg.com/htmx.org\"></script>\n    <script src=\"https://unpkg.com/htmx.org/dist/ext/client-side-templates.js\"></script>\n    <script src=\"https://unpkg.com/mustache@latest\"></script>\n</head>\n<body>\n    <div class=\"templates\"\n        id=\"mstemplates\"\n        hx-get=\"https://goldfish-app-k52k2.ondigitalocean.app/webhook/templates?home\"\n        hx-trigger=\"load\"\n        hx-target=\"this\">\n    </div>\n<header>\n    <nav>\n        <ul>\n        <li>Brand</li>\n        <li class=\"float-right sticky\">Sticky Right</li>\n        <li><a href=\"#\">Item </a></li>\n        <li><a href=\"#\">Menu ▾</a>\n            <ul>\n            <li><a href=\"#\">Menu 1</a></li>\n            <li><a href=\"#\">Menu 2</a></li>\n            </ul>\n        </li>\n        <li class=\"float-right\">Collapse</li>\n        </ul>\n    </nav>\n</header>\n<main>\n    <article>\n        <div id=\"main-article-template-wrapper\" hx-ext=\"client-side-templates\">\n            <header class=\"text-center\">\n                <h1>The Worst Ecommerce Store</h1>\n                <p> An experiment in minimalism on the modern web. Is this the best solution? Uh, sure. Here's what this is built with:\n                    <dl>\n                        <dt><a href=\"https://htmx.org/examples/\">HTMX</a></dt>\n                        <dt><a href=\"https://hyperscript.org/\">HyperScript</a></dt>\n                        <dt><a href=\"https://classless.de/#demo\">Classless CSS</a></dt>\n                        <dt>Mustache templates</dt>\n                        <dd>\n                        <li><a href=\"https://htmx.org/extensions/client-side-templates/\">HTMX client side templates</a></li>\n                        <li><a href=\"https://github.com/janl/mustache.js\">Mustache</a></li>\n                        </dd>\n                        <dt><a href=\"https://n8n.io/\">N8N \"backend\"</a></dt>\n                    </dl>\n                </p>\n            </header>\n        <section id=\"plp\">\n            <hr>\n            <h1 class=\"text-center title\">Products</h1>\n            <hr>\n            <div class=\"col\">\n              <label for=\"filter-products-input\">Filter Products Input</label>\n              <input id=\"filter-products-input\" type=\"text\" placeholder=\"Type Here to Filter Products\" _=\"on input\n              show <div.col/> in #home-product-grid when it's textContent.toLowerCase() contains my value.toLowerCase()\n              \"/>\n            </div>\n            <div id=\"home-product-grid\"\n              hx-get=\"https://goldfish-app-k52k2.ondigitalocean.app/webhook/test-json\"\n              hx-target=\"this\"\n              hx-trigger=\"revealed\"\n              hx-sync=\"#mstemplates:queue last\"\n              hx-indicator=\"#skele-product\"\n              mustache-template=\"product-grid-template\"\n              >\n              <div class=\"col\" id=\"skele-product\">\n                <div class=\"card product-card br\">\n                  <div class=\"wrapper\">\n                    <figure class=\"animate\">\n                      <div class=\"animate w80 br\"></div>\n                    </figure>\n                    <p class=\"comment animate\"></p>\n                    <p class=\"comment animate\"></p>\n                    <details class=\"card details animate comment\">\n                      <summary class=\"comment animate\"></summary>\n                    </details>\n                  </div>\n                </div>\n              </div>\n            </div>\n        </section>\n    </div>\n    </article>\n</main>\n<footer>Copyright bla bla</footer>\n</body>\n</html>"
        }
      },
      "id": "dada4fe5-7175-495f-9d46-267263a6be37",
      "name": "Homepage",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        180
      ],
      "webhookId": "5011a865-792e-49bb-b929-0a0bba6ea733"
    },
    {
      "parameters": {
        "path": "templates",
        "options": {
          "responseData": "<div hx-ext=\"client-side-templates\">\n    <!-- Mustache Templates for the page -->\n    <template id=\"foo2\">\n        {{#array}}\n            <tr class=\"tr\">\n                <td>{{postId}}</td>\n                <td>{{id}}</td>\n                <td>{{name}}</td>\n                <td>{{email}}</td>\n                <td>{{body}}</td>\n            </tr>\n        {{/array}}\n    </template>\n    <template id=\"product-grid-template\">\n    {{#products}}\n    <div class=\"col\">\n        <div id=\"product-{{id}}\" class=\"card product-card\">\n            <div class=\"wrapper\">\n                <figure>\n                    <img class=\"br\" \n                        _=\"on intersection(intersecting) having threshold 0.5\n                        if intersecting transition opacity to 1\n                        else transition opacity to 0 \"\n                        src=\"{{thumbnail}}\" alt=\"{{title}} image\">\n                </figure>\n                <p>Some Text</p>\n                <details class=\"card details success\">\n                    <summary>Product Details</summary>\n                    <p>Is this too small?</p>\n                    <table class=\"product-card-detail-table\">\n                    <tbody>\n                        <tr>\n                        <td>id</td>\n                        <td>{{id}}</td>\n                        </tr>\n                        <tr>\n                        <td>title</td>\n                        <td>{{title}}</td>\n                        </tr>\n                        <tr>\n                        <td>description</td>\n                        <td>{{description}}</td>\n                        </tr>\n                        <tr>\n                        <td>price</td>\n                        <td>{{price}}</td>\n                        </tr>\n                        <tr>\n                        <td>discountPercentage</td>\n                        <td>{{discountPercentage}}</td>\n                        </tr>\n                        <tr>\n                        <td>rating</td>\n                        <td>{{rating}}</td>\n                        </tr>\n                        <tr>\n                        <td>stock</td>\n                        <td>{{stock}}</td>\n                        </tr>\n                        <tr>\n                        <td>brand</td>\n                        <td>{{brand}}</td>\n                        </tr>\n                        <tr>\n                        <td>category</td>\n                        <td>{{category}}</td>\n                        </tr>\n                    </tbody>\n                    </table>\n                </details>\n            </div>\n        </div>\n    </div>\n    {{/products}}\n    </template>\n</div>\n",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              },
              {
                "name": "HX-Trigger",
                "value": "loadedTemplates"
              }
            ]
          }
        }
      },
      "id": "fff87e3a-8b65-41b0-998b-f131abb0e949",
      "name": "Mustache Templates",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        520
      ],
      "webhookId": "ca842335-5997-454c-8b5b-aaf4b1dc2ad1"
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-21T01:59:41.392Z"
}